<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>evaluacionCuatro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>ejercicio4.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>Controlador.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsControlador</display-name>
    <servlet-name>AsControlador</servlet-name>
    <servlet-class>Controlador.AsControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsControlador</servlet-name>
    <url-pattern>/AsControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CControlador</display-name>
    <servlet-name>CControlador</servlet-name>
    <servlet-class>Controlador.CControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CControlador</servlet-name>
    <url-pattern>/CControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FAsControlador</display-name>
    <servlet-name>FAsControlador</servlet-name>
    <servlet-class>Controlador.FAsControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FAsControlador</servlet-name>
    <url-pattern>/FAsControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MControlador</display-name>
    <servlet-name>MControlador</servlet-name>
    <servlet-class>Controlador.MControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MControlador</servlet-name>
    <url-pattern>/MControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MPControlador</display-name>
    <servlet-name>MPControlador</servlet-name>
    <servlet-class>Controlador.MPControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MPControlador</servlet-name>
    <url-pattern>/MPControlador</url-pattern>
  </servlet-mapping>
</web-app>